@charset "UTF-8";

 #infoviewBox {
	position:relative;
	height:520px;
	line-height:520px;
	border-bottom:solid #cccccc 1px;
	padding-bottom:518px;
}

#infobackground{
	width:1920px;
	height:1080px;
	
	
}

#infoviewBox span{
  font-family: 'Gamja Flower', cursive;
  font-family: 'Hi Melody', cursive;
  padding: 0px 20px;
  text-align: center;
  position: absolute;
  top: 0%;
  left: 39%;
  color:white;
  font-size:70px;
  	text-shadow: -1px -1px 0px 	skyblue,
    3px 3px 0px 	skyblue,
    6px 6px 0px 	skyblue;
}


#slogun{margin-left:100px; top:50px;		
				position:absolute; z-index:10;
				}

#slogun img{
	width:200px; height: 100px;
	display:none;
}


